h3 {
  color: #c5c7ca;
  text-align: center;
  margin: 1rem 0;
}

.modal-content {
  padding: 4rem;
}

form {
  width: 100%;
  margin-top: 2rem;

  input {
    margin: 2rem;
    width: 100%;
    font-family: inherit;
    font-size: medium;
    margin: 0.25rem 0;
    margin: 2rem;
    outline: none;
    border: none;
  }
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font: inherit;
  background-color: white;
  border: none;
  outline: none;
}

.payment-mode-select,
.payment-time-select {
  display: flex;
  // jce
  justify-content: space-between;
  gap: 1rem;
  font-size: large;

  select {
    width: 50%;
    outline: none;
    font-family: inherit;
    border: none;
    color: #2c2c2b;
    background-color: #f4f4f4;
    font-size: medium;
  }

  button {
    cursor: pointer;
    width: 100%;
    background-color: #f4f4f4;
    outline: none;
    border: none;
    color: whitesmoke;
    font-family: inherit;
    padding: 1rem 0.5rem;
    font-weight: 500;
    font-size: medium;
    color: #2c2c2b;
  }

  // :focus,
  // :hover,
  // :active {
  //   transition: 0.5s ease;
  //   background-color: #696969;
  //   color: #fff;
  // }
}

.submit-btn {
  width: 100%;
  background-color: #696969;
  outline: none;
  border: none;
  color: whitesmoke;
  font-family: inherit;
  padding: 1rem 0.5rem;
  font-weight: 500;
  font-size: medium;
  color: #fff;
}
