.header {
    width: 98%;
    display: flex;
    margin: 1rem;
    align-items: center;
    justify-content: space-between;
    // padding: 0.25rem;

}

hr {
    border: 1px solid rgba(231, 231, 231, 1);
}

.header--left-section {
    display: flex;
    gap: 1rem ;
    align-items: center;   
}

.header--right-section {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    .account {
        // height: 1rem;
        // width: 1rem;
        padding: 0.35rem;
        background-color: rgba(105, 105, 105, 1);
        color: whitesmoke;
    }
}

