.sidebar {
    border-right: 1px solid rgba(231, 231, 231, 1);
    
    width: max-content;
    margin: 0;
}

.sidebar--categories {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin:0  2rem;
    padding:  2rem;
    width: max-content;
    justify-content: center;

    :hover {
        background-color: rgba(105, 105, 105, 0.05);
    }
}

.sidebar--category {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin: 1rem;

 }

