.sidebar {
  border-right: 1px solid rgba(231, 231, 231, 1);
  //   height: 100%;
  width: max-content;
  margin: 0;
  position: relative;
}

.sidebar--categories {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 2rem;
  padding: 2rem;
  width: max-content;
  justify-content: center;

  :hover {
    background-color: rgba(105, 105, 105, 0.05);
  }
}

.sidebar--category {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin: 1rem;
}

.add-product {
  position: absolute;
  bottom: 8rem;
  left: 2rem;
  padding: 1rem 2rem;
  background-color: rgba(105, 105, 105, 1);
  color: whitesmoke;
  border-radius: 4px;
  font-weight: 500;
}

.add-product {
  cursor: pointer;
}

// ------ Modal styles ------ //

.modal-overlay {
  position: "fixed";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: "rgba(0, 0, 0, .7)";
  z-index: 1000;
}

.modal-content {
  position: "fixed";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  background-color: "#FFF";
  padding: "50px";
  z-index: 1000;

  display: flex;
  // margin-bottom: 1rem;
  flex-direction: column;
  gap: 1rem;

  h3 {
    color: #c5c7ca;
    text-align: center;
    margin: 1rem 0;
  }

  form {
    input {
      width: 100%;
      font-family: inherit;
      font-size: medium;
      margin: 0.25rem 0;
      // color: #aeb0b7;
    }

    button {
      width: 100%;
      background-color: #696969;
      outline: none;
      border: none;
      color: whitesmoke;
      font-family: inherit;
      padding: 1rem 0.5rem;
      font-weight: 500;
      font-size: medium;
    }
  }
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font: inherit;
  background-color: white;
  border: none;
  outline: none;
}
